body{
    background: #555;
}

img {
    cursor: pointer;
}

.content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

.todo-section-heading {
    font-size: 20px;
}

.thingtodo{

}

.trashcan{
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.strikedthroughtext{
	text-decoration: line-through;	
}

input.ng-invalid {
    background-color: pink;
}


input.ng-valid {
    background-color: lightgreen;
}

.closebtn {
    position: absolute;
    right: 5px;
    font-size: 12px;
    margin-left: 20px;
}

.empty-todo-list {
    color : coral;
    font-size: 200%;   
    vertical-align: middle;
    margin-left: 30%;
}

.completed-item {
    background-color: grey;
    text-decoration: line-through;
}

.item-edit {
    margin: 20px 10px 10px 10px;
}