body{
    background: #555;
}

img {
    cursor: pointer;
}

input {
    margin-bottom: 5px;
}

input:hover {
    
}

input[type=date]{
    border : 1px solid green;
    border-radius: 4px;
}

.form-control {
    border : 1px solid green;
}

.form-control:focus {
    border : 2px solid #4FE44F;
}


.card {
    margin: 5px 0px 0px 0px;
}

.card:hover {
    border-color: aquamarine;
    border-width: 2px;
}

.todo-item:hover {
    background-color: coral;
}

.app-title {
    color: #D2A7A7;
    text-align: center;
}

.odd-todo-item {
    background-color: #E496A6;
    color: aliceblue;
}


.even-todo-item {
    background-color: #92D697;;
    color: aliceblue;
}

.content {
    max-width: 500px;
    margin: auto;
    background: linear-gradient(to bottom, #3366ff 0%, #66ffff 100%);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1F3837;
}

.todo-section-heading {
    font-size: 20px;
    text-align: center;
    color:azure;
}

.trashcan{
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.strikedthroughtext{
	text-decoration: line-through;	
}

input.ng-invalid {
    background-color: #F3F1FD;
}


input.ng-valid {
    background-color: #CEF7CE;
}

.closebtn {
    position: absolute;
    right: 5px;
    font-size: 12px;
    margin-left: 20px;
}

.empty-todo-list {
    color : darkorange;
    font-size: 200%;   
    vertical-align: middle;
    text-align: center;
}

.completed-item {
    background-color: grey;
    text-decoration: line-through;
}

.item-edit {
    margin: 20px 10px 10px 10px;
}

#addButton{
    border: 1px solid white;
    cursor: pointer;
}

#addButton:hover:enabled{
    color:white;
    background-color: aqua;
}
