    <!DOCTYPE html>
    <html ng-app="Todo">
        <head>
		<title>Hello World</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" >
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/app.css"/>
		<script type="text/javascript" src="angular.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/todocontroller.js"></script>
        <script type="text/javascript" src="js/todoItemDirective.js"></script>
        
	</head>
	<body ng-controller="todoController as todo">
        <h2 class="app-title">Todo Application</h2>
        <div class="content">
            <input type="text" placeholder="what's on your todo list?" class="form-control" ng-model="title"
                   required>
            <input type="text" placeholder="add more details...." class="form-control" ng-model="description"
                   required>
            <div class="col-md-12 text-center"> 
                <input type="date" ng-model="date"
                   required>
            </div>     
            <br>
            <div class="col-md-12 text-center"> 
                <input type="button" value="Add Todo" ng-click="todo.addItem(event)" 
                       class="btn btn-warning" id="addButton"
                       ng-disabled="!title || !description || !date"
                       title="Fill in title and description to add todo in list.">
            </div>
            

            <div ng-show="todo.todoSortedTodoList.todayItems.length>0">
            <h3 class="todo-section-heading">Today's Todos...</h3>
                <div ng-repeat="item in todo.todoSortedTodoList.todayItems">
                    <todo-item></todo-item>
                </div>
            </div>

            <div ng-show="todo.todoSortedTodoList.tommorowItems.length>0">
            <hr>
            <h3 class="todo-section-heading">Tomorrow's Todos...</h3>
                <div ng-repeat="item in todo.todoSortedTodoList.tommorowItems">
                    <todo-item></todo-item>
                </div>
            </div>

            <div ng-show="todo.todoSortedTodoList.laterThisWeekItems.length>0">
            <hr>
            <h3 class="todo-section-heading">This Week's Todos...</h3>
                <div ng-repeat="item in todo.todoSortedTodoList.laterThisWeekItems">
                    <todo-item></todo-item>
                </div>
            </div>

            <div ng-show="todo.todoSortedTodoList.laterThisMonthitems.length>0">
            <hr>
            <h3 class="todo-section-heading">This Month's Todos...</h3>
                <div ng-repeat="item in todo.todoSortedTodoList.laterThisMonthitems">
                    <todo-item></todo-item>
                </div>
            </div>


            <div ng-show="todo.todoSortedTodoList.laterThisYearItems.length>0">
            <hr>
            <h3 class="todo-section-heading">This Year's Todos...</h3>
                <div ng-repeat="item in todo.todoSortedTodoList.laterThisYearItems">
                    <todo-item></todo-item>
                </div>
            </div>

            <div ng-show="todo.todoSortedTodoList.laterThisYearItems.length ==0 && todo.todoSortedTodoList.todayItems.length ==0"
                 class="empty-todo-list">
                <h4 id="emptyListLabel">Alas...!! Nothing on your list?</h4>
            </div>

            <div ng-show="todo.doneList.length>0">
            <hr>
            <h3  class="todo-section-heading">Done with below things..</h3>
                <div ng-repeat="item in todo.doneList">
                    <todo-item></todo-item>
                </div>
            </div>
        </div>
        
	</body>
</html>